html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(238, 238, 238);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./dot-seamless-pattern.svg");
  background-size: 5rem;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --bg-color: rgb(238, 238, 238);
  --bg-color-2: #3A4750;
  --title-color: rgb(246, 201, 14);

  --main-text-color: rgb(48, 56, 65);

  --transition: all 400ms ease;

  --main-border-radius: 25px;
  --secondary-border-radius: 15px;
}
